

.thumbnail {
    position:relative;
    overflow:hidden;
}

.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(245,255,250,.8);

    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fbc9c4 !important;
    z-index:2;
}
.container{
  background-size:cover;
}
