
body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

/* navigation bar*/
.navbar-fixed-top .active a  {
    background: 	rgba(255,218,185,.8)!important;
}

@media(min-width:767px) {
      .navbar {
          background:rgba(245,255,250,.8)!important;
          padding: 20px 0;
          -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
          -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
          transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

.top-nav-collapse {
        padding: 0;
    }

ul.nav a:hover {
  	background-color: rgba(255,218,185,.8) !important;
  }

/* ttf fontface */
@font-face {
  font-family: "fzm Old Typewriter ";
  src:
     url("fzm-Old.Typewriter.ttf");

}

.header{
    font-family: "fzm Old Typewriter";
    color:black;
    font-size: 60px;

}

.imageline{
  margin-left: 200px;
}


.script {
  font-family: "fzm Old Typewriter";
  color:black;
  font-size: 30px;
}
.create{
  font-family: "fzm Old Typewriter";
  color:black;
  font-size: 40px;
}
.momo{
  font-family: "fzm Old Typewriter";
  color:black;
  font-size: 30px;
}

.intro-section {
    height: 100%;
    padding-top: 150px;
    background-image: url("img/white_texture.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.about-section {
    height: 100%;
    padding-top: 150px;
    background-image: url("img/white_texture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.img-rounded{
  border-color: #D1B37F !important;
}

.services-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background-image: url("img/white_texture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
  .bud{
    font-family: "fzm Old Typewriter";
    color:black;
    font-size: 60px;
  }
  .light{
    text-align: center;
  }
.contact-section {
    font-family: "fzm Old Typewriter";
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background-image: url("img/white_texture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
